<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.defimak47.turnos" android:versionCode="3" android:versionName="1.3.201601">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <!-- This permission is necessary in order for Turnos to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- This permission is necessary in order for Turnos to check out WiFi state. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.ShiftActivity">
        </activity>
        <activity
            android:name=".view.ShiftActivity"
            android:label="@string/title_activity_shift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="@string/content_authority"
            android:name=".provider.StubProvider"
            android:exported="false"
            android:syncable="true" />
        <!-- Turnos's dummy authentication service -->
        <service android:name=".sync.TurnosAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.TurnosSyncService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>


    </application>

</manifest>
